<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bilaldaher.mycalendar2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sign_in_screen" />
        <activity android:name=".sign_up_screen" />
        <activity android:name=".Facebook_sign_in_page" />
        <activity android:name=".google_sign_in_page" />
        <activity android:name=".MyCalendarLogin" />
        <activity android:name=".Calendrier" />
        <activity android:name=".MyCalendarSignUp" />
        <activity android:name=".Evenements" />
    </application>

</manifest>